.main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  padding: 0 1rem;
}

.image {
  width: 70%;
  height: 50%;
  margin-left: 20%;
}

.title {
  font-size: 2rem;
  margin: 2rem 0;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.button {
  border-radius: 4px;
  background-color: #0d67b5;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 2%;
}

.techusiastics {
  color: #fff !important;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text {
    margin-bottom: 2rem;
  }

  .image {
    margin-left: 15%;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0d67b5, 0 0 40px #0d67b5, 0 0 50px #0d67b5, 0 0 60px #0d67b5, 0 0 70px #0d67b5;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3981c0, 0 0 40px #3981c0, 0 0 50px #3981c0, 0 0 60px #3981c0, 0 0 70px #3981c0, 0 0 80px #3981c0;
  }
}